<section class="not-found">
    <div class="container-wrapper">
        <div class="container">
            <h1 class="localized" data-translate-text="[page not found code]" data-translate-title="[page not found code]">404</h1>
            <h2 class="localized" data-translate-text="[page not found title]" data-translate-title="[page not found title]">Page not found</h2>
            <p class="localized">
                <span data-translate-text="[page not found message]" data-translate-title="[page not found message]">Click on Home. Contact support@easygenerator.com if the problem persists.</span>
            </p>
            <p>
                <a href="#" class="button primary large emphasize home">
                    <span class="localized" data-translate-text="[home]" data-translate-title="[home]">Home</span>
                </a>
            </p>
        </div>
    </div>
</section>