<section class="not-found">
    <div class="container-wrapper">
        <div class="container">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>
                Click on Home. Contact <a href="mailto:support@easygenerator.com">support@easygenerator.com</a> if the problem persists.
            </p>
            <p>
                <a href="#" class="button primary large emphasize home">
                    <span>Home</span>
                </a>
            </p>
        </div>
    </div>
</section>