<section class="course-wrapper scrollable">

    <div class="course">

        <div class="container">
            <div class="course-title-container-wrapper">
                <div class="course-title-container">
                    <div class="course-image-wrapper">
                        <img class="course-image" alt="" data-bind="attr: { src: logo }" />
                    </div>
                    <div class="course-title-wrapper">
                        <h1 class="course-title" data-bind="text: title"></h1>
                        <span class="course-author clearfix">Created by: <span data-bind="text: author"></span></span>
                    </div>
                </div>
            </div>

            <ul class="unstyled objectives">
                <!-- ko foreach: objectives -->
                <li class="objective">
                    <div class="objective-thumbnail-wrapper">
                        <div class="objective-thumbnail">
                            <div class="objective-thumbnail-image-wrapper">
                                <div class="objective-thumbnail-image">
                                    <div class="objective-thumbnail-image-text" data-bind="text: title[0]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="objective-title-container-wrapper-tip">
                        <div class="objective-title-container-wrapper">
                            <div class="objective-title-container">
                                <div class="objective-title-wrapper">
                                    <div class="objective-title">
                                        <span data-bind="text: title"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="objective-start-wrapper" href="#" data-bind=" attr: { href: '#objective/' + id, title: title }">
                        <span class="button large emphasize primary objective-start">Start reader</span>
                    </a>
                </li>
                <!-- /ko -->
                <li class="clearfix"></li>
            </ul>

            <!-- ko if: hasIntroductionContent -->
            <div class="introduction-content-container-wrapper">

                <div class="show-introduction-button-wrapper">
                    <div class="show-introduction-button" data-bind="click: showIntroduction, visible: !isIntroductionVisible()">Intro</div>
                </div>

                <div class="introduction-overlay" data-bind="visible: isIntroductionVisible, click: hideIntroduction"></div>

                <div class="introduction-content-container scrollable" data-bind="toggle: isIntroductionVisible">
                    <div class="introduction-title-wrapper">
                        <div class="close-introduction-button" data-bind="click: hideIntroduction"></div>
                        <div class="introduction-image-wrapper clearfix">
                            <img class="introduction-course-image" alt="" data-bind="attr: { src: logo }" />
                        </div>
                        <h1 class="course-title" data-bind="text: title"></h1>
                        <div class="course-author clearfix">Created by: <span data-bind="text: author"></span></div>
                    </div>
                    <div class="introduction-content" data-bind="html: introductionContent">
                    </div>
                    <div class="hide-introduction-button" data-bind="click: hideIntroduction">
                        <span class="hide-introduction-button-text">Go to objectives</span>
                    </div>
                </div>

            </div>
            <!-- /ko -->

        </div>

    </div>

</section>