<section>
    <!-- ko if: hasIntroductionContent -->
    <div class="show-introduction-button-wrapper">
        <button class="show-introduction-button button" data-bind="click: showIntroduction, visible: !isIntroductionVisible()" data-translate-text="[intro]" data-translate-title="[intro]">
        </button>
    </div>
    <div class="introduction-overlay" data-bind="visible: isIntroductionVisible">
        <div class="introduction-content-container-wrapper background" data-bind="toggle: { condition: isIntroductionVisible }">
            <div class="introduction-content-container">
                <div class="introduction-content-wrapper-outer scrollable">
                    <div class="introduction-content-wrapper-inner">
                        <div class="header-container">
                            <div class="logo-container">
                                <img class="logo" alt="" src="" data-bind="attr: { src: logo }" />
                            </div>
                            <div class="course-title-container">
                                <div class="course-title" data-bind="text: title"></div>
                                <div class="course-author">
                                    <span class="localized" data-translate-text="[created by]">Created by: </span>
                                    <span data-bind="text: author"></span>
                                </div>
                            </div>
                        </div>
                        <!-- ko foreach: introductions -->
                            <!-- ko ifnot: children.length -->
                            <div data-bind="learningContent: content" class="introduction-item styled-content"></div>
                            <!-- /ko -->
                            <!-- ko if: children.length -->
                                <div class="expandable-introduction-item expandable-block-wrapper" data-bind="compose: { model:'viewmodels/expandableBlock', activationData: $data }"></div>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <div class="start-button-wrapper">
                    <button class="button primary medium" data-bind="click: hideIntroduction">
                        <span class="intro-text localized" data-translate-text="[start reading]" data-translate-title="[start reading]">Start Reading</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="course-wrapper scrollable">
        <button class="close-button" data-bind="click: finish">
            <span class="close-button-text localized" data-translate-text="[close course]" data-translate-title="[close course]">Close</span>
        </button>
        <div class="course">
            <div class="container">
                <div class="header-container">
                    <div class="logo-container">
                        <img class="logo" alt="" src="" data-bind="attr: { src: logo }" />
                    </div>
                    <div class="course-title-container">
                        <div class="course-title" data-bind="text: title"></div>
                        <div class="course-author">
                            <span class="localized" data-translate-text="[created by]">Created by: </span>
                            <span data-bind="text: author"></span>
                        </div>
                    </div>
                </div>
                <ul class="sections">
                    <!-- ko foreach: sections -->
                    <li class="section-container">
                        <div class="section-wrapper">
                            <div class="section-thumbnail-container">
                                <div class="section-thumbnail">
                                    <span class="section-thubnail-text" data-bind="text: title[0]"></span>
                                </div>
                            </div>
                            <div class="section-title-container">
                                <div class="section-title" data-bind="text: title, css: { small: title.length > 200}"></div>
                                <div class="button-container">
                                    <button class="button small success" data-bind="click: navigateToSection" data-translate-text="[start reading]" data-translate-title="[start reading]"></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>

            </div>
        </div>
    </div>
</section>