<div class="expandable-block" data-bind="css: { collapsed: !isExpanded() }">
    <div class="expandable-block-content" data-bind="click: toggleExpand">
        <div class="expandable-block-content-title" data-bind="html: content"></div>
        <button class="expand-button" data-bind="css: { expand: !isExpanded() }">
            <span class="material-icons expand-button-icon" data-bind="css: { visible: isExpanded() }">remove</span>
            <span class="material-icons expand-button-icon" data-bind="css: { visible: !isExpanded() }">add</span>
        </button>
    </div>
    <!-- ko if: children.length > 0 -->
    <ul class="expandable-block-children-items unstyled" data-bind="toggle: { condition: isExpanded(), isHorizontalDirection: true }">
        <!-- ko foreach: children -->
        <li class="expandable-block-children styled-content" data-bind="learningContent: content"></li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</div>