<section class="objective">

    <div class="container container-table">
        <div class="content-table-container-wrapper" data-bind="toggle: isTableOfContentVisible">
            <div class="content-table-container">
                <div class="content-table-wrapper">
                    <div class="content-table">
                        <button class="button collapse" data-bind="click: hideTableOfContent"></button>
                        <div class="content-table-title">Articles</div>
                        <ul class="unstyled">
                            <!-- ko foreach: pages -->
                            <!-- ko if: $data == $parent.currentPage() -->
                            <li class="content-table-article-title-wrapper active">
                                <span class="content-table-article-title active" data-bind="text: title"></span>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: $data != $parent.currentPage() -->
                            <li class="content-table-article-title-wrapper">
                                <a href="#" class="content-table-article-title" data-bind="attr: { href: '#objective/' + $parent.id() +'/page/'+ id }, text: title"></a>
                            </li>
                            <!-- /ko -->
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container-wrapper">
            <div class="page-container">

                <div class="page-wrapper-outer">
                    <div class="page-wrapper-inner">
                        <div class="back-wrapper">
                            <a class="button emphasize back" href="#">Back to objectives</a>
                        </div>
                        <div data-bind="router: { }"></div>
                    </div>

                    <!-- ko if: previousPage -->
                    <a href="#" class="button previous" data-bind="attr: { href: '#objective/' + id() +'/page/'+ previousPage().id, title: previousPage().title }"></a>
                    <!-- /ko -->
                    <!-- ko if: nextPage -->
                    <a href="#" class="button next" data-bind="attr: { href: '#objective/' + id() +'/page/'+ nextPage().id, title: nextPage().title }"></a>
                    <!-- /ko -->
                </div>

                <button class="button expand" data-bind="click: showTableOfContent, visible: !isTableOfContentVisible()"></button>
            </div>
        </div>
    </div>

</section>