<section class="objective" style="position: relative;">


    <ul style="display: block; position: absolute; left: 0; top:0; width: 300px;height: 100%;">
        <!-- ko foreach: pages -->

        <li>
            <a href="#" data-bind="attr: { href: '#objective/' + $parent.id() +'/page/'+ $data}, text: $data"></a>
        </li>

        <!-- /ko -->
    </ul>

    <div class=" container">
        <div class=" back-wrapper">
            <a class="button emphasize back" href="#">Back to objectives</a>
        </div>

        <h2 class="objective-title" data-bind="text: title"></h2>



        <div data-bind="router: {}"></div>

    </div>

</section>